
@import '~bootstrap/scss/bootstrap.scss';

#app{
  padding-bottom: 200px
}
.form-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
  padding: 30px
}
.font18 {
  font-size: 18px
}
.card {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px;
  margin-bottom: 15px
}
.price {
  width: 140px;

  .currency{
    color: #ccc
  }
}
.baggage {
  width: 40px;
  font-size: 16px;
  color: orangered
}
.en_route {
  position: absolute;
  font-size: 12px;
  top: 55px;
  right: 0; 
  left: 0;
  bottom: 0; 
  text-align: center; 
  font-weight: bold;
}

.time-info-container {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  width: 70px;

  .time-info-time {
    color: orangered;
    font-size: 16px;
    font-weight: bold;
  }
  .time-info-text {
    color: blue;
    font-size: 10px;
    text-align: center;
  }
}
.segments-container {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  width: 50%;

  .stepwizard {
    display: table;
    width: 100%;
    position: relative;
  
    .stepwizard-row {
      display: table-row;
      position: relative;
      
      &::before{
        top: 12px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
      }
  
      .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
      
        p {
          margin-top: 10px;
          font-size: 12px
        }
      
        .btn-circle {
          width: 10px;
          height: 10px;
          text-align: center;
          // padding: 6px 0;
          font-size: 12px;
          line-height: 1.428571429;
          border-radius: 15px;
          background: #fff;
          display: inline-block;
          border: 1px solid #ccc;
          /* margin-top: 4px; */
        }
      }
    }
  }
}

.sort-btn {
  border: 1px solid #007bff;
  border-radius: 10px;
  padding: 5px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 100px;
  color: #007bff;
  cursor: pointer;

  .triangle {
    width: 20px
  }
}
.down-arrow {
	border-color: #007bff transparent;
	border-style: solid;
	border-width: 10px 10px 0px 10px;
	height: 0px;
	width: 0px;
}

.up-arrow {
	border-color: #007bff transparent;
	border-style: solid;
	border-width: 0px 10px 10px 10px;
	height: 0px;
	width: 0px;
}
